{% extends 'base.html.twig' %}

{% block title %}{{ gameInfo.name  }}{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('bundles/public/css/game.css') }}" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">

{% endblock %}

{% block body %}

    <!-- I'm using a Bootstrap grid layout to make the page responsive and clean -->
    <div class="toggled" id="page-content-wrapper">
        <main>
            <section>
                <div class="container">
                    <div class="row">

                        <div class="headerDiv col-lg-12">
                            <h1>{{ gameInfo.name }}<br> ({{ gameInfo.code }})</h1>
                            <!--{{ dump() }}-->
                        </div>
                    </div>
                    <br>
                    <div class="row panel">
                        <div class='panel col-lg-4 row'>
                            {{ gameInfo.gameExplanation }}
                            <br><br>
                            <div id="stats">
                            <p>
                            <!-- User stats are displayed on page load and repopulated during gameplay with jQuery/AJAX -->
                            <strong>User Stats:</strong><br>
                                Wins: {{ stats.win }}<br>
                                Losses: {{ stats.lose }}<br>
                                Draws: {{ stats.draw }}<br>
                                <br>
                                <!-- Looping through the user and computer gestures -->
                                <strong>User Gestures:</strong><br>
                                {% for gestures in stats.user_gestures %}
                                    {{ gestures.gesture_count }} {{ gestures.gesture }}<br>
                                {% endfor %}
                                <br>
                                <strong>Computer Gestures:</strong><br>
                                {% for gestures in stats.user_gestures %}
                                    {{ gestures.gesture_count }} {{ gestures.gesture }}<br>
                                {% endfor %}


                            </p>
                            </div>
                        </div>
                        <div class="playerPanel col-lg-8">

                            <h2>{{ gameInfo.challengeMsg }}</h2>
                            <!--{{ dump(gestures) }}-->

                            <!-- Looping through the player gestures that will be clicked by the user to play -->
                            {% for gesture in gestures|slice(0, gestures|length) %}
                                <span id="{{ gesture.id }}" class="hand_gesture">
                                    <i class="{{ gesture.fontAwesome }} " aria-hidden='true'></i>
                                    {{ gesture.name }}
                                </span>
                            {% endfor %}

                            <br><br>

                            <div class='playerPanel col-lg-4'>
                                <h2>Player 1 (You)</h2>
                                <div id="p1Panel"></div>
                                <br>
                            </div>
                            <div class='playerPanel col-lg-4'>
                                <h2>Battle</h2>
                                <div id="battlePanel"></div>
                                <br>
                            </div>
                            <div class='playerPanel col-lg-4'>
                                <h2>Player 2 (PC)</h2>
                                <div id="p2Panel"></div>
                                <br>
                            </div>
                            <br><br><br><br>
                            <div class=' col-lg-12'>
                                <br><p>
                                Languages used: HTML, CSS, JavaScript/jQuery, Bootsrap, AJAX, JSON,<br> PHP (Symfony framework: Twig, Doctrine, DQL)
                                <br>A Code Demo by Dan Guinn - <a href="https://github.com/nuntius-rex/symfony-lizard-spock" target="_blank">Code On GitHub</a>
                                </p>
                            </div>
                        </div>




                    </div>


                </div>
            </section>
        </main>
    </div>




{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('bundles/public/js/app.js') }}"></script>
{% endblock %}
